@value montserrat from './common/typography.css';

/*
 * Add any global styles here
 */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.app {
  composes: box from './common/layout.css';

  height: 100%;

  font-family: montserrat;
  font-weight: normal;
  font-smoothing: antialiased;
}
.container{
	width:100%;
}
.container aside{
	width: 20%;
	float: left;
	vertical-align: top;
}
.container .main-content{
	width: 80%;
	float: left;
}


