@value global-radius from '../settings.css';

.main-section {
  composes: card from '../common/card';
  width: 50%;
  border-radius: global-radius;
}

  .header {
    composes: title from '../common/card';
    composes: subheading from '../common/typography';
    background: #ed193a;
    color: #fff;
  }

  .list {
    list-style: none;
    padding: 16px;
  }

.container{
  width:100%;
}
.container aside{
  width: 20%;
  float: left;
  vertical-align: top;
}
.container .main-content{
  width: 80%;
  float: left;
}

